# Copy to .env to customize names and subnets.
LEO_NS_PREFIX=leo
LEO_ACCESS_SUBNET=10.210.0.0/24
LEO_SERVICE_SUBNET=10.220.0.0/24
LEO_ACCESS_CIDR=24
LEO_SERVICE_CIDR=24
LEO_CLIENT_IP=10.210.0.10
LEO_ROUTER_ACCESS_IP=10.210.0.2
LEO_ROUTER_SERVICE_IP=10.220.0.2
LEO_SERVER_IP=10.220.0.10
